<div class="container">


<h1>ALL ABOUT SQUAD</h1>
<div class="row">
	<div class="col-md-12">
	<p>Squad Creative was born from our desire to provide quality web development to small and medium size businesses. We understand what it's like trying to get your idea off the ground and not know exaclty where to turn next. Our unique backgrouds, work and life experiences will help you make your ideas come to life on the web. If you are looking for a knowledgeable, fun, progressive group to get you going, we are your SQUAD! </p>
</div>
</div>	
<h1>MEET YOUR SQUAD</h1>


<div class="row">
  <div class="col-md-4">WALID ASMAR
  <i class="icon-twitter"></i>&nbsp<i class="icon-facebook"></i>
  <p class="headshot"><%= image_tag "wa.jpg", class: "img-responsive", class: "img-circle", width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </div>
  <div class="col-md-4">JESSI THOMAS
  <i class="icon-twitter"></i>&nbsp<i class="icon-facebook"></i>
  <p class="headshot"><%= image_tag "jt.jpg", class: "img-responsive", class: "img-circle",width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
</div>
  <div class="col-md-4">ASHANTE TIMOLL
  <i class="icon-twitter"></i>&nbsp<i class="icon-facebook"></i>
  <p class="headshot"><%= image_tag "at.jpg", class: "img-responsive", class: "img-circle",width: "100px" %></p> 
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </div>
</div>
</div>

  

