<body class="about">
<div class="container">
<h1 class="index">YOUR PARTNER IN GROWTH</h1> 
<!-- <h1 class="index">IN GROWTH</h1> -->
	<h4 class="grey-text text-lighten-5 left-align">Web Development & Design Solutions </h4>
    <h3 class="grey-text text-lighten-5 left-align">Simple. &nbsp;  Quick. &nbsp;  Tailored. </h3>
    
    <a class="right below btn-floating btn-large waves-effect waves-light yellow darken-2 hide-on-med-and-down" id="scroll-to-animation"><i class="mdi-navigation-expand-more"></i></a>
</div>

