/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blue {
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 90%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(90%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 90%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 90%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 90%, rgba(224,239,249,1) 100%);
background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 90%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
}

.about {
	background: url(bluemove.jpg) no-repeat;
	background-size: cover;
}

.yellow{
	background-color: yellow;
	margin-bottom: 15px;
	padding-top: 15px;
}

h1 {
	font-family: 'Volkorn', serif; font-weight: 700;
	text-align: center;
	font-style: italic;
	color: #396b8e;
}

h3, h4 {
	font-family: 'Volkorn', serif; font-weight: 700;
	/*font-style: italic;*/
	text-align: left;
	color: #396b8e;
}

.row {
	color: #396b8e;
}

.index {
	font-family: 'Volkorn', serif; font-weight: 700;
	text-align: left;
}


.col-md-4 {
	font-family: 'Volkorn', serif; font-weight: 700;
	text-align: center;
}

.col-md-12 {
	text-align: center;
}
#copyright {
	text-align: center;
}

.headshot {
	text-align: center;
}

p {
	text-align: justify;
}



.navbar-default {
	background:#ad9f9f;
}

